<div id="clients-details-dialog" class="modal fade in" tabindex="-1">
  <div class="modal-dialog client">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon icon-close"></i></button>
      </div>
      <div class="modal-body">
      	<div class="client-box">
	      	<div class="client">
	      		<div class="client-info">
		      		<div class="client-img" style="background-image: url(images/clients/modal-img.png);">
		      			<div class="box box-top"></div>
		      			<div class="box box-right"></div>
		      			<div class="box box-bottom"></div>
		      			<div class="box box-left"></div>
		      		</div>
		      		<div class="client-text">
		      			<img src="images/clients/client-tmg.png" />
		      			<p>What EloGroup does is really simple. Simple and profound. Very different from complex and superficial processes.</p>
		      			<p>What EloGroup does is really simple. Simple and profound. Very different from complex and superficial processes.</p>
		      			<p>What EloGroup does is really simple. Simple and profound. Very different from complex and superficial processes.</p>
								<p><span class="strong">Raquel Muller,</span> Executive Marketing at Grupo Globo</p>
		      		</div>
	      		</div>
	      		<div class="client-video">
		      		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/eRLYt26Lbd8" frameborder="0" allowfullscreen></iframe>
		      	</div>
		      	<div class="client-cases">
		      		<div class="case">
								<div class="image" style="background-image: url(images/cases/case1.jpg);"></div>
								<div class="case-content">
									<h2>Lorem ipsum dolor sit</h2>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
									<a href="javascript:void(0)">Leia mais</a>
								</div>
							</div>
							<div class="case">
								<div class="image" style="background-image: url(images/cases/case2.jpg);"></div>
								<div class="case-content">
									<h2>Lorem ipsum dolor sit</h2>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
									<a href="javascript:void(0)">Leia mais</a>
								</div>
							</div>
							<div class="case">
								<div class="image" style="background-image: url(images/cases/case3.jpg);"></div>
								<div class="case-content">
									<h2>Lorem ipsum dolor sit</h2>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
									<a href="javascript:void(0)">Leia mais</a>
								</div>
							</div>
		      	</div>
	      	</div>
      	</div>
      </div>
      <div class="line ver1"></div>
      <div class="line hor1"></div>
      <div class="line ver2"></div>
      <div class="line hor2"></div>
    </div>
  </div>
</div>