<div id="cases-search-dialog" class="modal fade in" tabindex="-1">
  <div class="modal-dialog search">
    <div class="modal-content">
    	<div class="modal-body">
    		<form>
    			<div>
    				<input class="modal-search-input" type="text" />
    				<span class="placeholder">Busque por uma palavra chave</span>
    				<i class="fa fa-spinner fa-spin fa-fw"></i>
    			</div>
    			<button type="button" data-dismiss="modal">Cancelar</button>
    		</form>
    		<div class="results">
    			<div class="num-results">0 resultados</div>
    			<div class="cases">
    				<div class="case">
							<div class="image" style="background-image: url(images/cases/case1.jpg);"></div>
							<div class="case-content">
								<h2>Lorem ipsum dolor sit</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
								<a href="javascript:void(0)">Leia mais</a>
							</div>
						</div>
						<div class="case">
							<div class="image" style="background-image: url(images/cases/case2.jpg);"></div>
							<div class="case-content">
								<h2>Lorem ipsum dolor sit</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
								<a href="javascript:void(0)">Leia mais</a>
							</div>
						</div>
						<div class="case">
							<div class="image" style="background-image: url(images/cases/case3.jpg);"></div>
							<div class="case-content">
								<h2>Lorem ipsum dolor sit</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
								<a href="javascript:void(0)">Leia mais</a>
							</div>
						</div>
						<div class="case">
							<div class="image" style="background-image: url(images/cases/case4.jpg);"></div>
							<div class="case-content">
								<h2>Lorem ipsum dolor sit</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
								<a href="javascript:void(0)">Leia mais</a>
							</div>
						</div>
						<div class="case">
							<div class="image" style="background-image: url(images/cases/case5.jpg);"></div>
							<div class="case-content">
								<h2>Lorem ipsum dolor sit</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
								<a href="javascript:void(0)">Leia mais</a>
							</div>
						</div>
    			</div>
    			<div class="sugestions">
    				<div>Você quis dizer...</div>
    				<a href="javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i> Agronegócio</a>
    				<a href="javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i> Agropecuária</a>
    				<a href="javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i> Agrária</a>
    			</div>
    		</div>
    	</div>
    </div>
	</div>
</div>