<footer style="display: none;">
	<div class="share">
		<div class="social">
			<a href="https://pt-br.facebook.com/elogroup" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="https://twitter.com/elogroup" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="https://www.youtube.com/user/ELOGroupTV" class="youtube" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/company/elo-group" class="linkedin" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
			<div>Receba as novidades <br />da EloGroup por email!</div>
		</div>
		<div class="newsletter">
			<form>
				<div class="form__input form__input--empty">
			    <label class="form__label">
		        <span class="form__label__content">
		          Seu email
		          <span class="accessible-only-text">
		            <span>Obrigatório</span>
		          </span>
		        </span>
		        <div class="input-wrap">
	            <input placeholder="Seu email" onfocus="this.value.length > 0 ? this.placeholder = '' : this.placeholder = 'Seu email'" onblur="this.placeholder = 'Seu email'" autocomplete="on" class="input-text" name="email" type="email">
	            <button type="button">Ok</button>
	            <span class="input-message-validate">Email inválido</span>
		        </div>
			    </label>
				</div>
			</form>
		</div>
		<div class="mobile">
			<img src="images/logo-elogroup.png" />
			<div class="copyrights">&copy; 2017 Elogroup. All rights reserved.</div>
		</div>
	</div>
	<div class="addresses">
		<div class="address">
			<h3>Rio de Janeiro</h3>
			<p>Rua Santa Luzia 651, 29° andar, sala 2903 - Centro<p>+55 (21) 2222-2191</p></p>
		</div>
		<div class="address">
			<h3>São Paulo</h3>
			<p>Av. Brigadeiro Luiz Antônio 2503, 3° andar - Jardins<p>+55 (11) 3262-1212</p></p>
		</div>
		<div class="address">
			<h3>Belo Horizonte</h3>
			<p>Avenida do Contorno n° 5351, sala 406 - Cruzeiro<p>+55 (31) 4063-6442</p></p>
		</div>
		<div class="address">
			<h3>Brasília</h3>
			<p>SCRN 702/703, Bloco H, entrada 49, Sala 101<p>+55 (61) 4063-6441</p></p>
		</div>
		<div class="address">
			<h3>Fortaleza</h3>
			<p>Av. Dom Luíz, 500, sala 627 - Aldeota<p>+55 (00) 0000-0000</p></p>
		</div>
	</div>
	<%= partial '_dialog_newsletter' %>
</footer>