<div class="loader">
	<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="38.000000pt" height="72.000000pt" viewBox="0 0 38.000000 72.000000" preserveAspectRatio="xMidYMid meet">
		<rect id="fill" x="0" y="0" width="50" height="70" fill="#f57a37" />
		<g id="play" transform="translate(0.000000,72.000000) scale(0.100000,-0.100000)" fill="#f57a37" stroke="none">
			<path d="M60 333 l0 -308 155 155 155 155 -152 152 c-84 84 -154 153 -155 153 -2 0 -3 -138 -3 -307z m270 3 c0 -10 -234 -246 -244 -246 -3 0 -5 113 -4 251 l1 251 124 -124 c67 -67 123 -127 123 -132z"/>
		</g>
	</svg>
	<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="96.000000pt" height="167.000000pt" viewBox="0 0 96.000000 167.000000" preserveAspectRatio="xMidYMid meet">
		<g transform="translate(10.50000,150.000000) scale(0.0750000,-0.0750000)" fill="#000d16" stroke="none">
			<path d="M0 835 l0 -835 480 0 480 0 0 835 0 835 -480 0 -480 0 0 -835z m712 -18 c-15 -16 -107 -106 -204 -199 l-178 -170 0 403 0 404 205 -205 205 -204 -28 -29z"/>
		</g>
	</svg>
	<div class="counter">
		<p>Carregando</p>
		<p></p>
	</div>
</div>