<div class="nav-menu" style="display: none;">
	<div class="top-bar no-title is-on-top">
		<div class="social fadeIn animated">
			<a href="https://pt-br.facebook.com/elogroup" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="https://twitter.com/elogroup" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="https://www.youtube.com/user/ELOGroupTV" class="youtube" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/company/elo-group" class="linkedin" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
		</div>
		<div class="lang">
			<a href="javascript:void(0)" class="nav-icon close"><i class="icon icon-close"></i></a>
			<a href="javascript:void(0)">En</a>
			<a href="javascript:void(0)" class="selected">Pt</a>
			<img src="images/logo-elogroup.png" class="mobile-logo" />
		</div>
	</div>
	<div class="nav-box">
		<ul class="fadeIn animated">
			<li><a href="/"><span>/</span>Home</a></li>
			<li><a href="/about-us.html"><span>/</span>About Us</a></li>
			<li><a href="/services.html"><span>/</span>Serviços</a></li>
			<li><a href="/industries.html"><span>/</span>Indústria</a></li>
			<li><a href="/blog.html" class="active"><span>/</span>Blog</a></li>
		</ul>
		<ul class="fadeIn animated">
			<li><a href="/cases.html"><span>/</span>Cases</a></li>
			<li><a href="/career.html"><span>/</span>Carreiras</a></li>
			<li><a href="/education.html"><span>/</span>Educação</a></li>
			<li><a href="/venturing.html"><span>/</span>Venturing</a></li>
			<li><a href="/clients.html"><span>/</span>Clientes</a></li>
		</ul>
	</div>
	<div class="v-line1"></div>
	<div class="h-line1"></div>
	<div class="v-line2"></div>
	<div class="h-line1"></div>
</div>