<%= partial 'nav_menu_about_us' %>
<div class="main-content">
	<div class="top-bar sm-padding is-on-top">
		<div class="logo pointer" onclick="window.location='/'"></div>
		<div class="page-title">About us</div>
		<div class="lang">
			<a href="javascript:void(0)" class="nav-icon left-space"><i class="icon icon-menu large"></i></a>
		</div>
	</div>
	<section class="section initial">
		<div class="title">
			<h1>
				<span class="splited-line"><span class="splited-line__wrapper">Consultoria com</span></span>
				<span class="splited-line"><span class="splited-line__wrapper">foco em transformar</span></span>
				<span class="splited-line"><span class="splited-line__wrapper">organizações</span></span>
			</h1>
		</div>
	</section>
	<section class="section second no-padding">
		<div class="img" style="background-image: url(images/about-us-bg-section-2.png);"></div>
		<div class="text">
			<ul class="quotes">
				<li>
					<h2>Temos a melhor execução</h2>
					<p><i class="fa fa-quote-left" aria-hidden="true"></i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					<p><span class="strong">João Paulo Ferreira,</span> Operations VP at Natura</p>
				</li>
				<li>
					<h2>Foco em transformação</h2>
					<p><i class="fa fa-quote-left" aria-hidden="true"></i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					<p><span class="strong">Paulo Ferreira,</span> Finance VP at TMG</p>
				</li>
				<li>
					<h2>Lorem ipsum dolor sit amet</h2>
					<p><i class="fa fa-quote-left" aria-hidden="true"></i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					<p><span class="strong">João Ferreira,</span> CEO at Biosev</p>
				</li>
			</ul>
			<div class="nav-dots">
				<a href="javascript:void(0)">
					<i class="fa fa-dot-circle-o"></i></i><i class="fa fa-circle"></i>
				</a>
				<a href="javascript:void(0)">
					<i class="fa fa-dot-circle-o"></i></i><i class="fa fa-circle"></i>
				</a>
				<a href="javascript:void(0)">
					<i class="fa fa-dot-circle-o"></i></i><i class="fa fa-circle"></i>
				</a>
			</div>
		</div>
	</section>
	<section id="countUp-section" class="section third no-padding">
		<div>
			<span class="counter1">200</span><p>consultores</p>
		</div>
		<div style="display: none;">
			<span class="counter2">372</span><p>projetos executados</p>
		</div>
		<div style="display: none;">
			<span class="counter3">130</span><p>clientes</p>
		</div>
		<div style="display: none;">
			<span class="counter4">8</span><p>países de atuação</p>
		</div>
	</section>
	<section class="section team sm-padding">
		<h1>Nosso time</h1>
		<div class="member">
			<div class="img">
				<img src="images/about-us-team1.png" />
			</div>
			<div class="text">
				<h3>Rafael Clemente</h3>
				<p>Lorem ipsum</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
			</div>
		</div>
		<div class="member">
			<div class="img">
				<img src="images/about-us-team2.png" />
			</div>
			<div class="text">
				<h3>Bruno Cabral</h3>
				<p>Lorem ipsum</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
			</div>
		</div>
		<div class="member">
			<div class="img">
				<img src="images/about-us-team3.png" />
			</div>
			<div class="text">
				<h3>Melissa Goncalves</h3>
				<p>Lorem ipsum</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
			</div>
		</div>
		<div class="member">
			<div class="img">
				<img src="images/about-us-team4.png" />
			</div>
			<div class="text">
				<h3>Rodrigo Oliveira</h3>
				<p>Lorem ipsum</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
			</div>
		</div>
		<div class="member">
			<div class="img">
				<img src="images/about-us-team5.png" />
			</div>
			<div class="text">
				<h3>Amanda Ribeiro</h3>
				<p>Lorem ipsum</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
			</div>
		</div>
		<div class="member">
			<div class="img">
				<img src="images/about-us-team6.png" />
			</div>
			<div class="text">
				<h3>Nicolash Rodrigues</h3>
				<p>Lorem ipsum</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
			</div>
		</div>
	</section>
	<section class="section timeline no-padding">
		<div class="timeline-img" style="background-image: url(images/about-us/event1.jpg);">
			<img src="images/about-us/event1.jpg" data-target="event1" />
			<img src="images/about-us/event2.jpg" data-target="event2" />
			<img src="images/about-us/event3.jpg" data-target="event3" />
			<img src="images/about-us/event4.jpg" data-target="event4" />
			<img src="images/about-us/event5.jpg" data-target="event5" />
		</div>
		<div class="timeline-content">
			<div class="nav-timeline"></div>
			<div class="events-box">
				<div class="events">
					<h2>Nossa <br /> história</h2>
					<div class="point big"></div>
					<div id="event1" class="event">
						<h3>1999</h3>
						<h4>Otávio Castro Rodrigues</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
					</div>
					<div id="event2" class="event">
						<h3>2002</h3>
						<h4>Lorem ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
					</div>
					<div id="event3" class="event">
						<h3>2003</h3>
						<h4>Lorem ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
					</div>
					<div id="event4" class="event">
						<h3>2005</h3>
						<h4>Lorem ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
					</div>
					<div id="event5" class="event">
						<h3>2007</h3>
						<h4>Lorem ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
					</div>
					<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
				</div>
			</div>
		</div>
	</section>
	<%= partial 'footer' %>
</div>