<%= partial 'nav_menu_blog' %>
<div class="main-content">
	<div class="top-bar sm-padding is-on-top">
		<div class="logo pointer" onclick="window.location='/'"></div>
		<div class="page-title">Últimas</div>
		<div class="lang">
			<a href="javascript:void(0)" class="nav-icon left-space"><i class="icon icon-menu large"></i></a>
			<button type="button" data-toggle="modal" data-target="#clients-filter-dialog">Filtrar</button>
			<button type="button" data-toggle="modal" data-target="#clients-search-dialog">Buscar</button>
		</div>
	</div>
	<section class="section blog-initial">
		<div class="main-post">
			<ul class="quotes">
				<li>
					<h1>Lorem ipsum dolor sit amet</h1>
					<p>Ao contrário de produtos e serviços, que podem ser padronizados e ofertados em escala, experiências são únicas: duas pessoas nunca podem ter a mesma experiência. Toda jornada de cliente é específica, e por isso sua gestão será sempre mais complexa que a gestão de processos.</p>
					<a href="/post.html">Leia o artigo</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="section posts sm-padding">
		<div class="post">
			<div class="img-box">
				<img src="images/blog/post1.png">
			</div>
			<div class="info">
				<p class="date">May 26, 2016</p>
				<h2>Lorem ipsum dolor sit amet</h2>
				<p class="resume">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and the trouble...</p>
				<a href="/post.html">Leia o artigo</a>
			</div>
		</div>
		<div class="post">
			<div class="img-box">
				<img src="images/blog/post2.png">
			</div>
			<div class="info">
				<p class="date">May 26, 2016</p>
				<h2>Lorem ipsum dolor sit amet</h2>
				<p class="resume">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and the trouble...</p>
				<a href="/post.html">Leia o artigo</a>
			</div>
		</div>
		<div class="post">
			<div class="img-box">
				<img src="images/blog/post3.png">
			</div>
			<div class="info">
				<p class="date">May 26, 2016</p>
				<h2>Lorem ipsum dolor sit amet</h2>
				<p class="resume">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and the trouble...</p>
				<a href="/post.html">Leia o artigo</a>
			</div>
		</div>
		<div class="post">
			<div class="img-box">
				<img src="images/blog/post4.png">
			</div>
			<div class="info">
				<p class="date">May 26, 2016</p>
				<h2>Lorem ipsum dolor sit amet</h2>
				<p class="resume">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and the trouble...</p>
				<a href="/post.html">Leia o artigo</a>
			</div>
		</div>
		<div class="post">
			<div class="img-box">
				<img src="images/blog/post5.png">
			</div>
			<div class="info">
				<p class="date">May 26, 2016</p>
				<h2>Lorem ipsum dolor sit amet</h2>
				<p class="resume">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and the trouble...</p>
				<a href="/post.html">Leia o artigo</a>
			</div>
		</div>
	</section>
	<%= partial '_dialog_clients_filter' %>
	<%= partial '_dialog_clients_search' %>
	<%= partial 'footer_no_newsletter' %>
</div>