<%= partial 'nav_menu_career' %>
<div class="main-content">
	<div class="top-bar sm-padding is-on-top">
		<div class="logo pointer" onclick="window.location='/'"></div>
		<div class="page-title">Carreira</div>
		<div class="lang">
			<a href="javascript:void(0)" class="nav-icon left-space"><i class="icon icon-menu large"></i></a>
		</div>
	</div>
	<section class="section career-initial">
		<div class="title">
			<i class="icon icon-quotes-white big" aria-hidden="true"></i>
			<h1>Creativity is thinking up new things. Innovation is doing new things.</h1>
			<h3>Theodore Levitt</h3>
		</div>
	</section>
	<section class="section career-content base-padding">
		<div>
			<div class="text">
				<h2>Aprendizado</h2>
				<p>Ao contrário de produtos e serviços, que podem ser padronizados e ofertados em escala, experiências são únicas: duas pessoas nunca podem ter a mesma experiência.</p>
			</div>
			<div class="video-box">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/wmvCj1W2IV0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div>
			<div class="text">
				<h2>Autonomia</h2>
				<p>Ao contrário de produtos e serviços, que podem ser padronizados e ofertados em escala, experiências são únicas: duas pessoas nunca podem ter a mesma experiência.</p>
			</div>
			<div class="video-box">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/Q14tkD5__dE" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div>
			<div class="text">
				<h2>Meritocracia</h2>
				<p>Ao contrário de produtos e serviços, que podem ser padronizados e ofertados em escala, experiências são únicas: duas pessoas nunca podem ter a mesma experiência.</p>
			</div>
			<div class="video-box">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/EODR84d3-rY" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div>
			<div class="text">
				<h2>Ambiente</h2>
				<p>Ao contrário de produtos e serviços, que podem ser padronizados e ofertados em escala, experiências são únicas: duas pessoas nunca podem ter a mesma experiência.</p>
			</div>
			<div class="video-box">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/Z24Dd1Tcz1Y" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div>
			<div class="text">
				<h2>Possibilidades</h2>
				<p>Ao contrário de produtos e serviços, que podem ser padronizados e ofertados em escala, experiências são únicas: duas pessoas nunca podem ter a mesma experiência.</p>
			</div>
			<div class="video-box">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/nZ-VjUKAsao" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</section>
	<section class="section gallery no-padding">
		<div class="nav">
			<a href="/gallery.html">Ver galeria de eventos</a>
		</div>
		<div class="highlight gallery">
			<ul>
				<li><img src="images/career/gallery1-min.png" /></li>
				<li><img src="images/career/gallery2-min.png" /></li>
			</ul>
		</div>
	</section>
	<section class="section testimonials base-padding">
		<ul class="quotes">
			<li>
				<div class="img-box"><img src="images/career/comment.png" /></div>
				<div class="text">
					<i class="icon-base icon-quotes-white" aria-hidden="true"></i>
					<p>When we engage in what we are naturally suited to do, our work takes on the quality of play and it is play that stimulates creativity.</p>
					<p class="author">Linda Naiman</p>
				</div>
			</li>
			<li>
				<div class="img-box"><img src="images/career/comment.png" /></div>
				<div class="text">
					<i class="icon-base icon-quotes-white" aria-hidden="true"></i>
					<p>When we engage in what we are naturally suited to do, our work takes on the quality of play and it is play that stimulates creativity.</p>
					<p class="author">Linda Naiman</p>
				</div>
			</li>
			<li>
				<div class="img-box"><img src="images/career/comment.png" /></div>
				<div class="text">
					<i class="icon-base icon-quotes-white" aria-hidden="true"></i>
					<p>When we engage in what we are naturally suited to do, our work takes on the quality of play and it is play that stimulates creativity.</p>
					<p class="author">Linda Naiman</p>
				</div>
			</li>
		</ul>
		<div class="nav-dots bg-dark">
			<a href="javascript:void(0)">
				<i class="fa fa-dot-circle-o"></i></i><i class="fa fa-circle"></i>
			</a>
			<a href="javascript:void(0)">
				<i class="fa fa-dot-circle-o"></i></i><i class="fa fa-circle"></i>
			</a>
			<a href="javascript:void(0)">
				<i class="fa fa-dot-circle-o"></i></i><i class="fa fa-circle"></i>
			</a>
		</div>
	</section>
	<section class="section section-form base-padding">
		<h2>Faça parte do time!</h2>
		<form class="form-base bg-light">
			<div class="form__input form__input--empty">
        <label class="form__label">
          <span class="form__label__content">
            Nome
            <span class="accessible-only-text">
              <span>Obrigatório</span>
            </span>
          </span>
          <div class="input-wrap">
            <input placeholder="Nome" onfocus="this.value.length > 0 ? this.placeholder = '' : this.placeholder = 'Nome'" onblur="this.placeholder = 'Nome'" autocomplete="on" class="input-text" name="nome" type="text">
          </div>
        </label>
      </div>
      <div class="form__input form__input--empty">
        <label class="form__label">
          <span class="form__label__content">
            Sobrenome
            <span class="accessible-only-text">
              <span>Obrigatório</span>
            </span>
          </span>
          <div class="input-wrap">
            <input placeholder="Sobrenome" onfocus="this.value.length > 0 ? this.placeholder = '' : this.placeholder = 'Sobrenome'" onblur="this.placeholder = 'Sobrenome'" autocomplete="on" class="input-text" name="nome" type="text">
          </div>
        </label>
      </div>
      <div class="form__input form__input--empty">
        <label class="form__label">
          <span class="form__label__content">
            Email
            <span class="accessible-only-text">
              <span>Obrigatório</span>
            </span>
          </span>
          <div class="input-wrap">
            <input placeholder="Email" onfocus="this.value.length > 0 ? this.placeholder = '' : this.placeholder = 'Email'" onblur="this.placeholder = 'Email'" autocomplete="on" class="input-text" name="email" type="email">
            <span class="input-message-validate">Email inválido</span>
          </div>
        </label>
      </div>
      <div class="form__input form__input--empty">
        <label class="form__label">
          <span class="form__label__content">
            Estado
            <span class="accessible-only-text">
              <span>Obrigatório</span>
            </span>
          </span>
          <div class="input-wrap">
          	<div class="form-select hide-next">
          		<a href="javascript:void(0)"><i class="icon-base icon-arrow-down"></i></a>
	            <ul>
	            	<li data-value="default">Estado</li>
	            	<li data-value="MG">Minas Gerais</li>
	            	<li data-value="RJ">Rio de Janeiro</li>
	            	<li data-value="RS">Rio Grande do Sul</li>
	            	<li data-value="SP">São Paulo</li>
	            </ul>
            </div>
          </div>
        </label>
      </div>
      <div class="form__input form__input--empty has-to-hide">
        <label class="form__label">
          <span class="form__label__content">
            Vaga
            <span class="accessible-only-text">
              <span>Obrigatório</span>
            </span>
          </span>
          <div class="input-wrap">
          	<div class="form-select">
          		<a href="javascript:void(0)"><i class="icon-base icon-arrow-down"></i></a>
	            <ul>
	            	<li data-value="default">Escolha vagas</li>
	            	<li>Vaga 1</li>
	            	<li>Vaga 2</li>
	            	<li>Vaga 3</li>
	            	<li>Vaga 4</li>
	            	<li>Vaga 5</li>
	            </ul>
            </div>
          </div>
        </label>
      </div>
      <div class="form__input-file">
      	<input type="file" accept="application/pdf" />
      	<div class="input-wrap">
      		<button type="button"><i class="icon-base icon-file"></i>Anexar currículo</button>
      	</div>
      </div>
      <div class="form__input-action">
      	<button type="button">Enviar!</button>
      </div>
		</form>
	</section>
	<%= partial 'footer_no_newsletter' %>
</div>