<%= partial 'nav_menu_education' %>
<div class="main-content">
	<div class="top-bar sm-padding is-on-top">
		<div class="logo pointer" onclick="window.location='/'"></div>
		<div class="page-title">Educação</div>
		<div class="lang">
			<a href="javascript:void(0)" class="nav-icon left-space"><i class="icon icon-menu large"></i></a>
		</div>
	</div>
	<section class="section initial">
		<div class="title">
			<h1>Educação executiva para <br />transformar nossos negócios</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
			<button>Confira nossa plataforma</button>
		</div>
	</section>
	<%= partial 'footer_no_newsletter' %>
</div>