<%= partial 'nav_menu_career' %>
<div class="main-content">
	<div class="top-bar sm-padding is-on-top">
		<div class="logo pointer keep-play">
			<button type="button" onclick="window.location='/career.html'">Voltar</button>
		</div>
		<div class="page-title"><span>Galeria de </span>fotos</div>
		<div class="lang">
			<a href="javascript:void(0)" class="nav-icon left-space"><i class="icon icon-menu large"></i></a>
		</div>
	</div>
	<section class="section main-image" style="background-image: url(images/career/img1-min.png)">
		<div class="picture abs no-padding">
			<div class="info">
				<p class="author">by Author of image</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
			</div>
			<div class="share">
				<a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div>
		</div>
	</section>
	<section class="section gallery-images no-padding">
		<div class="picture sm-padding centered">
			<div class="img-box left-space">
				<img src="images/career/img2-min.png" />
				<div class="info">
					<p class="author">by Author of image</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				</div>
				<div class="share">
					<a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		<div class="picture base-padding">
			<div class="img-box">
				<img src="images/career/img3-min.png" />
				<div class="info">
					<p class="author">by Author of image</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				</div>
				<div class="share">
					<a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		<div class="picture no-padding centered">
			<div class="img-box full-width">
				<img src="images/career/img4-min.png" />
				<div class="info">
					<p class="author">by Author of image</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				</div>
				<div class="share">
					<a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		<div class="picture sm-padding centered">
			<div class="img-box left-space">
				<img src="images/career/img5-min.png" />
				<div class="info">
					<p class="author">by Author of image</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				</div>
				<div class="share">
					<a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		<div class="picture sm-padding centered">
			<div class="img-box left-space">
				<img src="images/career/img6-min.png" />
				<div class="info">
					<p class="author">by Author of image</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				</div>
				<div class="share">
					<a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		<div class="picture sm-padding right-align">
			<div class="img-box">
				<img src="images/career/img7-min.png" />
				<div class="info">
					<p class="author">by Author of image</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				</div>
				<div class="share">
					<a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		<div class="picture sm-padding centered">
			<div class="img-box left-space">
				<img src="images/career/img8-min.png" />
				<div class="info">
					<p class="author">by Author of image</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				</div>
				<div class="share">
					<a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</section>
	<%= partial 'footer_no_newsletter' %>
</div>