<%= partial 'nav_menu' %>
<div class="main-content">
	<div class="top-bar no-title sm-padding is-on-top">
		<div class="logo"></div>
		<div class="lang">
			<a href="javascript:void(0)" class="nav-icon left-space"><i class="icon icon-menu large"></i></a>
			<a href="javascript:void(0)" class="mobile">En</a>
			<a href="javascript:void(0)" class="mobile selected">Pt</a>
			<a href="http://www.govlab.elogroup.com.br/" target="_blank" class="gov active">Gov</a>
		</div>
	</div>
	<section class="section initial screen-height" style="background: transparent;" data-parallax="scroll" data-image-src="images/bg-section-1.png" data-z-index="1">
		<div class="title">
			<h1>
				<span class="splited-line"><span class="splited-line__wrapper">Consultoria com</span></span>
				<span class="splited-line"><span class="splited-line__wrapper">DNA empreendedor</span></span>
			</h1>
			<h3 style="display: none;">Um novo olhar para velhos problemas</h3>
		</div>
		<span class="icon-scroll" style="display: none;">
			<div class="mouse"><div class="wheel paused"></div></div>
		</span>
	</section>
	<section class="section services no-padding" style="display: none;" data-parallax="scroll">
		<h1 id="servicos"><a href="/services.html">Serviços</a></h1>
		<div class="service" style="background-image: url(images/section-services1.png);">
			<div class="service-text">
				<div class="full">
					<h4>Processos <br />e Operações</h4>
					<p>Transformando os processos para impulsionar <br /> a geração de valor da sua organização</p>
					<a href="javascript:void(0)">Ver mais</a>
				</div>
			</div>
		</div>
		<div class="service" style="background-image: url(images/section-services2.png);">
			<div class="service-text">
				<div class="full">
					<h4>Produtividade e Custos</h4>
					<p>Tornando sua organização mais eficiente e produtiva</p>
					<a href="javascript:void(0)">Ver mais</a>
				</div>
			</div>
		</div>
		<div class="service" style="background-image: url(images/section-services3.png);">
			<div class="service-text">
				<div class="full">
					<h4>Estratégia</h4>
					<p>Planejando os caminhos para alcançar de forma <br />estruturada os objetivos da sua organização</p>
					<a href="javascript:void(0)">Ver mais</a>
				</div>
			</div>
		</div>
		<div class="service" style="background-image: url(images/section-services4.png);">
			<div class="service-text">
				<div class="full">
					<h4>Organizações</h4>
					<p>Garantindo a otimização da sua empresa <br />a nível de processos e recursos</p>
					<a href="javascript:void(0)">Ver mais</a>
				</div>
			</div>
		</div>
		<div class="service" style="background-image: url(images/section-services5.png);">
			<div class="service-text">
				<div class="full">
					<h4>Pessoas</h4>
					<p>Otimizando a gestão dos colaboradores <br />da sua organização</p>
					<a href="javascript:void(0)">Ver mais</a>
				</div>
			</div>
		</div>
		<div class="service" style="background-image: url(images/section-services6.png);">
			<div class="service-text">
				<div class="full">
					<h4>Organizações</h4>
					<p>Aprendendo a inovar para <br />potencializar seus negócios</p>
					<a href="javascript:void(0)">Ver mais</a>
				</div>
			</div>
		</div>
		<div class="service" style="background-image: url(images/section-services7.png);">
			<div class="service-text">
				<div class="full">
					<h4>Digital</h4>
					<p>Habilitando a transformação digital, buscando uma <br />organização mais ágil, conectada e tecnológica</p>
					<a href="javascript:void(0)">Ver mais</a>
				</div>
			</div>
		</div>
		<div class="service" style="background-image: url(images/section-services8.png);">
			<div class="service-text">
				<div class="full">
					<h4>Analytics</h4>
					<p>Transformando dados em <br />decisões e resultados</p>
					<a href="javascript:void(0)">Ver mais</a>
				</div>
			</div>
		</div>
		<div class="service" style="background-image: url(images/section-services9.png);">
			<div class="service-text">
				<div class="full">
					<h4>Tecnologia</h4>
					<p>Estruturando soluções tecnológicas para posicionar <br />sua organização no mercado digital</p>
					<a href="javascript:void(0)">Ver mais</a>
				</div>
			</div>
		</div>
		<div class="service" style="background-image: url(images/section-services10.png);">
			<div class="service-text">
				<div class="full">
					<h4>Novos Negócios <br />e Incubação</h4>
					<p>Integrando o mundo de startups <br />ao mundo empresarial</p>
					<a href="javascript:void(0)">Ver mais</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section industry no-padding" style="display: none;">
		<h1 id="industria">Indústria</h1>
		<div class="text">
			<h2>Nova visão para os desafios <br />da sua Indústria</h2>
			<p>Nossa abordagem combina a experiência de profissionais <br />especialistas e uma atuação multisetorial, garantindo o <br />profundo conhecimento da indústria e a aderências às <br />melhores práticas dos líderes de vários setores</p>
			<button class="list-industries">Veja os seguimentos <i class="fa fa-angle-right" aria-hidden="true"></i></button>
		</div>
		<div class="industry-list-box">
			<ul class="industry-list">
				<li class="industry-item" style="background-image: url(images/industry1.png);">
					<h2>Financial Services <br />e Insurance</h2>
					<div class="number one">01</div>
				</li>
				<li class="industry-item" style="background-image: url(images/industry2.png);">
					<h2>Energia</h2>
					<div class="number two">02</div>
				</li>
				<li class="industry-item" style="background-image: url(images/industry3.png);">
					<h2>Varejo</h2>
					<div class="number three">03</div>
				</li>
				<li class="industry-item" style="background-image: url(images/industry4.png);">
					<h2>Alimentos</h2>
					<div class="number four">04</div>
				</li>
				<li class="industry-item" style="background-image: url(images/industry5.png);">
					<h2>Agronegócios</h2>
					<div class="number five">05</div>
				</li>
				<li class="industry-item" style="background-image: url(images/industry6.png);">
					<h2>Mineração</h2>
					<div class="number six">06</div>
				</li>
				<li class="industry-item" style="background-image: url(images/industry7.png);">
					<h2>Indústria e <br />Infraestrutura</h2>
					<div class="number seven">07</div>
				</li>
				<li class="industry-item" style="background-image: url(images/industry8.png);">
					<h2>Farmacêutica</h2>
					<div class="number eight">08</div>
				</li>
				<li class="industry-item" style="background-image: url(images/industry9.png);">
					<h2>Saúde</h2>
					<div class="number nine">09</div>
				</li>
				<li class="industry-item" style="background-image: url(images/industry10.png);">
					<h2>Telecomunicações</h2>
					<div class="number ten">10</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="section cases no-padding" style="display: none;">
		<h1>Cases</h1>
		<div class="case">
			<div class="case-img" style="background-image: url(images/case1.png);"></div>
			<div class="case-text">
				<div class="content">
					<h2>Sistema Hospitalar</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
					<p class="hover">Reflexão estratégica é uma necessidade</p>
					<a href="javascript:void(0)">Leia mais</a>
				</div>
			</div>
		</div>
		<div class="case">
			<div class="case-img" style="background-image: url(images/case2.png);"></div>
			<div class="case-text">
				<div class="content">
					<h2>Sistema Hospitalar</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
					<p class="hover">Reflexão estratégica é uma necessidade</p>
					<a href="javascript:void(0)">Leia mais</a>
				</div>
			</div>
		</div>
		<div class="case">
			<div class="case-img" style="background-image: url(images/case3.png);"></div>
			<div class="case-text">
				<div class="content">
					<h2>Sistema Hospitalar</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
					<p class="hover">Reflexão estratégica é uma necessidade</p>
					<a href="javascript:void(0)">Leia mais</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section news no-padding" style="display: none;">
		<h1>Novidades</h1>
		<div class="new col-3" style="background-image: url(images/section-news1.png);">
			<div class="info">
				<p class="date">Junho, 20 de 2016</p>
				<p>Reflexão estratégica é uma necessidade</p>
				<a href="javascript:void(0)">Leia mais</a>
			</div>
			<div class="mobile">
				<div class="img-box">
					<img src="images/section-news1.png" />
				</div>
				<div class="info-mobile">
					<p class="date">20 Jun 2016</p>
					<h3>Reflexão estratégica é uma necessidade</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer</p>
					<a href="javascript:void(0)">Leia mais</a>
				</div>
			</div>
		</div>
		<div class="new col-3" style="background-image: url(images/section-news2.png);">
			<div class="info inverted">
				<p class="date">Junho, 20 de 2016</p>
				<p>Reflexão estratégica é uma necessidade</p>
				<a href="javascript:void(0)">Leia mais</a>
			</div>
			<div class="mobile">
				<div class="img-box">
					<img src="images/section-news2.png" />
				</div>
				<div class="info-mobile">
					<p class="date">20 Jun 2016</p>
					<h3>Reflexão estratégica é uma necessidade</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer</p>
					<a href="javascript:void(0)">Leia mais</a>
				</div>
			</div>
		</div>
		<div class="new col-3" style="background-image: url(images/section-news3.png);">
			<div class="info">
				<p class="date">Junho, 20 de 2016</p>
				<p>Reflexão estratégica é uma necessidade</p>
				<a href="javascript:void(0)">Leia mais</a>
			</div>
			<div class="mobile">
				<div class="img-box">
					<img src="images/section-news3.png" />
				</div>
				<div class="info-mobile">
					<p class="date">20 Jun 2016</p>
					<h3>Reflexão estratégica é uma necessidade</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer</p>
					<a href="javascript:void(0)">Leia mais</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section clients no-padding" style="display: none;">
		<h1>Clientes</h1>
		<div class="client">
			<img src="images/client1.png">
		</div>
		<div class="client odd-mobile">
			<img src="images/client2.png">
		</div>
		<div class="client odd-mobile">
			<img src="images/client3.png">
		</div>
		<div class="client">
			<img src="images/client1.png">
		</div>
		<div class="client">
			<img src="images/client2.png">
		</div>
		<div class="client odd-mobile">
			<img src="images/client3.png">
		</div>
		<div class="client">
			<img src="images/client1.png">
		</div>
		<div class="client">
			<img src="images/client2.png">
		</div>
		<div class="client">
			<img src="images/client3.png">
		</div>
		<div class="client">
			<img src="images/client1.png">
		</div>
		<div class="client">
			<img src="images/client2.png">
		</div>
		<div class="client">
			<img src="images/client3.png">
		</div>
		<div class="client">
			<img src="images/client1.png">
		</div>
		<div class="client">
			<img src="images/client2.png">
		</div>
		<div class="client">
			<img src="images/client3.png">
		</div>
		<div class="link">
			<a href="/clients.html">Veja a lista completa ></a>
		</div>
		<div class="comment">
			<i class="icon icon-quotes" aria-hidden="true"></i>
			<p>I'm a huge fan of EloGroup work. The project we've made strongly impacted the way we - natura work and changed the direction of many lives.</p>
			<p><span class="strong">João Paulo Ferreira,</span> Operations VP at Natura</p>
		</div>
		<div class="comment">
			<i class="icon icon-quotes" aria-hidden="true"></i>
			<p>What EloGroup does is really simple. Simple and profound. Very different from complex and superficial processes.</p>
			<p><span class="strong">Raquel Muller,</span> Executive Marketing at Grupo Globo</p>
		</div>
	</section>
	<%= partial 'footer' %>
</div>
<%= partial 'loader' %>