<%= partial 'nav_menu_blog' %>
<div class="main-content">
	<div class="top-bar no-title sm-padding is-on-top">
		<div class="logo pointer" onclick="window.location='/'"></div>
		<div class="lang">
			<a href="javascript:void(0)" class="nav-icon left-space"><i class="icon icon-menu large"></i></a>
		</div>
	</div>
	<section class="section initial">
		<div class="title">
			<div class="date">May 27, 2016</div>
			<h1>Lorem ipsum dolor <br />sit amet</h1>
		</div>
	</section>
	<section class="section article no-padding">
		<div class="post-content">
			<div class="side-bar">
				<p class="quotes">
					<i class="fa fa-quote-left" aria-hidden="true"></i>
					When you lt your mind <br />wander, you begin to make <br />creative connections
				</p>
				<div class="share">
					<a href="javascript:void(0)">
						<i class="fa fa-twitter"></i>
						<span class="hover">share</span>
					</a>
					<a href="javascript:void(0)">
						<i class="fa fa-facebook"></i>
						<span class="hover">share</span>
					</a>
					<a href="javascript:void(0)">
						<i class="fa fa-instagram"></i>
						<span class="hover">share</span>
					</a>
				</div>
			</div>
			<div class="content">
				<div class="text">
					<p class="date">June 29, 2016 09:00 am</p>
					<p class="author">by Alexandra Macon</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
					<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
					<p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
					<p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
					<div class="highlight">
						<h2>Lorem ipsum dolor sit amet, consectetuer</h2>
						<img src="images/blog/post-img1.png" />
						<p class="author">by Alexandra Macon</p>
					</div>
					<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
					<p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
					<p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
					<div class="highlight gallery">
						<ul>
							<li><img src="images/blog/post-img2.png" /></li>
							<li><img src="images/blog/post-img3.png" /></li>
						</ul>
						<div class="nav-img">
							<a href="javascript:void(0)" class="prev">Anterior</a>
							<a href="javascript:void(0)" class="next">Próximo</a>
						</div>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
					<p class="date">June 29, 2016 09:00 am</p>
					<p class="author">by Alexandra Macon</p>
					<p class="tags">
						<span>Nessa história:</span>
						<a href="javascript:void(0)">Animals</a>
						<a href="javascript:void(0)">Culture</a>
						<a href="javascript:void(0)">Inovation</a>
						<a href="javascript:void(0)">Lorem</a>
					</p>
				</div>
			</div>
		</div>
		<div class="nav-posts">
			<div class="post">
				<a href="javascript:void(0)">
					<div class="image"><img src="images/blog/prev-post-img.png" /></div>
					<div class="info">
						<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
						<p>Post anterior</p>
						<h3>Aenean commodo ligula eget dolor</h3>
					</div>
				</a>
			</div>
			<div class="post">
				<a href="javascript:void(0)">
					<div class="info">
						<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<p>Próximo post</p>
						<h3>Nullam dictum felis eu pede mollis pretium</h3>
					</div>
					<div class="image"><img src="images/blog/next-post-img.png" /></div>
				</a>
			</div>
		</div>
	</section>
	<%= partial 'footer_no_newsletter' %>
</div>