<%= partial 'nav_menu_services' %>
<div class="main-content">
	<div class="top-bar sm-padding is-on-top">
		<div class="logo pointer" onclick="window.location='/'"></div>
		<div class="page-title">Tecnologia</div>
		<div class="lang">
			<a href="javascript:void(0)" class="nav-icon left-space"><i class="icon icon-menu large"></i></a>
			<button type="button" data-toggle="modal" data-target="#clients-search-dialog">Buscar</button>
		</div>
	</div>
	<section class="section initial">
		<div class="title">
			<h1>Soluções tecnológicas <br />para apoiar mudanças <br />de alto impacto</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
		</div>
	</section>
	<section class="section services bottom-space max-width">
		<div class="section-head">
			<h2 class="title">Serviços</h2>
			<div><a href="/services-list.html">Ver todos ></a></div>
		</div>
		<div>
			<div class="info">
				<h3>Aprendizado</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
				<a href="javascript:void(0)">Leia mais</a>
			</div>
			<div class="img-box">
				<img src="images/services/service1-min.png" />
			</div>
		</div>
		<div>
			<div class="info">
				<h3>Lorem ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
				<a href="javascript:void(0)">Leia mais</a>
			</div>
			<div class="img-box">
				<img src="images/services/service2-min.png" />
			</div>
		</div>
		<div>
			<div class="info">
				<h3>Lorem ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
				<a href="javascript:void(0)">Leia mais</a>
			</div>
			<div class="img-box">
				<img src="images/services/service3-min.png" />
			</div>
		</div>
	</section>
	<section class="section cases bottom-space max-width">
		<div class="section-head">
			<h2 class="title">Cases</h2>
			<div><a href="javascript:void(0)">Ver todos ></a></div>
		</div>
		<div class="case">
			<div class="image" style="background-image: url(images/services/case1-min.png);"></div>
			<div class="case-content">
				<h2>Lorem ipsum dolor sit</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				<a href="javascript:void(0)">Leia mais</a>
			</div>
		</div>
		<div class="case">
			<div class="image" style="background-image: url(images/services/case2-min.png);"></div>
			<div class="case-content">
				<h2>Lorem ipsum dolor sit</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				<a href="javascript:void(0)">Leia mais</a>
			</div>
		</div>
		<div class="case">
			<div class="image" style="background-image: url(images/services/case3-min.png);"></div>
			<div class="case-content">
				<h2>Lorem ipsum dolor sit</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				<a href="javascript:void(0)">Leia mais</a>
			</div>
		</div>
	</section>
	<section class="section news bottom-space max-width">
		<div class="section-head">
			<h2 class="title">Novidades</h2>
			<div><a href="javascript:void(0)">Ver todas ></a></div>
		</div>
		<div class="new col-2" style="background-image: url(images/services/news1-min.png);">
			<div class="info">
				<p class="date">Junho, 20 de 2016</p>
				<p>Reflexão estratégica é uma necessidade</p>
				<a href="javascript:void(0)">Leia mais</a>
			</div>
			<div class="mobile">
				<div class="img-box">
					<img src="images/services/news1-min.png" />
				</div>
				<div class="info-mobile">
					<p class="date">20 Jun 2016</p>
					<h3>Reflexão estratégica é uma necessidade</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer</p>
					<a href="javascript:void(0)">Leia mais</a>
				</div>
			</div>
		</div>
		<div class="new col-2" style="background-image: url(images/services/news2-min.png);">
			<div class="info">
				<p class="date">Junho, 20 de 2016</p>
				<p>Reflexão estratégica é uma necessidade</p>
				<a href="javascript:void(0)">Leia mais</a>
			</div>
			<div class="mobile">
				<div class="img-box">
					<img src="images/services/news2-min.png" />
				</div>
				<div class="info-mobile">
					<p class="date">20 Jun 2016</p>
					<h3>Reflexão estratégica é uma necessidade</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer</p>
					<a href="javascript:void(0)">Leia mais</a>
				</div>
			</div>
		</div>
		<div class="new col-2" style="background-image: url(images/services/news3-min.png);">
			<div class="info">
				<p class="date">Junho, 20 de 2016</p>
				<p>Reflexão estratégica é uma necessidade</p>
				<a href="javascript:void(0)">Leia mais</a>
			</div>
			<div class="mobile">
				<div class="img-box">
					<img src="images/services/news3-min.png" />
				</div>
				<div class="info-mobile">
					<p class="date">20 Jun 2016</p>
					<h3>Reflexão estratégica é uma necessidade</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer</p>
					<a href="javascript:void(0)">Leia mais</a>
				</div>
			</div>
		</div>
		<div class="new col-2" style="background-image: url(images/services/news4-min.png);">
			<div class="info">
				<p class="date">Junho, 20 de 2016</p>
				<p>Reflexão estratégica é uma necessidade</p>
				<a href="javascript:void(0)">Leia mais</a>
			</div>
			<div class="mobile">
				<div class="img-box">
					<img src="images/services/news4-min.png" />
				</div>
				<div class="info-mobile">
					<p class="date">20 Jun 2016</p>
					<h3>Reflexão estratégica é uma necessidade</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer</p>
					<a href="javascript:void(0)">Leia mais</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section contact bottom-space max-width">
		<div class="section-head no-link">
			<h2 class="title">Contate nossos experts</h2>
		</div>
		<form class="form-base bg-light">
			<div class="form__input form__input--empty">
        <label class="form__label">
          <span class="form__label__content">
            Seu email
            <span class="accessible-only-text">
              <span>Obrigatório</span>
            </span>
          </span>
          <div class="input-wrap">
            <input placeholder="Seu email" onfocus="this.value.length > 0 ? this.placeholder = '' : this.placeholder = 'Seu email'" onblur="this.placeholder = 'Seu email'" autocomplete="on" class="input-text" name="email" type="email">
            <span class="input-message-validate">Email inválido</span>
            <button type="button">Enviar</button>
          </div>
        </label>
      </div>
		</form>
	</section>
	<%= partial 'footer_no_newsletter' %>
</div>