<%= partial 'nav_menu_venturing' %>
<div class="main-content">
	<div class="top-bar sm-padding is-on-top">
		<div class="logo pointer" onclick="window.location='/'"></div>
		<div class="page-title">Venturing</div>
		<div class="lang">
			<a href="javascript:void(0)" class="nav-icon left-space"><i class="icon icon-menu large"></i></a>
		</div>
	</div>
	<section class="section initial">
		<div class="title">
			<h1>Conheça alguns negócios <br />que a EloGroup investe</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
		</div>
	</section>
	<section class="section venturing base-padding">
		<div class="company">
			<div class="image">
				<img src="images/clients/client-biosev.png">
			</div>
			<div class="info">
				<h3>Gomus Music</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				<a href="javascript:void(0)">Ver site da empresa</a>
			</div>
		</div>
		<div class="company">
			<div class="image">
				<img src="images/clients/client-biosev.png">
			</div>
			<div class="info">
				<h3>lorem ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				<a href="javascript:void(0)">Ver site da empresa</a>
			</div>
		</div>
		<div class="company">
			<div class="image">
				<img src="images/clients/client-biosev.png">
			</div>
			<div class="info">
				<h3>lorem ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				<a href="javascript:void(0)">Ver site da empresa</a>
			</div>
		</div>
		<div class="company">
			<div class="image">
				<img src="images/clients/client-biosev.png">
			</div>
			<div class="info">
				<h3>lorem ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				<a href="javascript:void(0)">Ver site da empresa</a>
			</div>
		</div>
		<div class="company">
			<div class="image">
				<img src="images/clients/client-biosev.png">
			</div>
			<div class="info">
				<h3>lorem ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				<a href="javascript:void(0)">Ver site da empresa</a>
			</div>
		</div>
		<div class="company">
			<div class="image">
				<img src="images/clients/client-biosev.png">
			</div>
			<div class="info">
				<h3>lorem ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				<a href="javascript:void(0)">Ver site da empresa</a>
			</div>
		</div>
	</section>
	<%= partial 'footer' %>
</div>